.benefits{
    color: white;
}

.benefitsParagraf{
    max-width: 900px;
    margin: auto;
}

.seminarIndex{
    text-align: left;
}

.perks{
    list-style: none;
    display: flex;
    align-items:first baseline;
    justify-content: space-around;

    flex-wrap: wrap;

    margin: 70px 150px;
}

.perkText{
    max-width: 200px;
}

.learningPath{
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
}

.seminarIndexPhoto{
    max-height: 400px;
    border-radius: 5px;
}

.index {
    font-size: 25px;
}

@media (max-width: 700px) {
    .seminarIndexPhoto {
        max-width: 250px;
        max-width: none;
        width: 100%;
        margin: auto;
        border-radius: 0px;
    }

    .benefitsParagraf{
        max-width: 300px;
    }

    .index {
        font-size: 18px;
    }

    .learningPath{
        gap: 60px;
    }

    .perkText{
        margin: 0px;
    }

    .perks{
        margin: auto;
        gap: 60px;
    }

    h5{
        margin-bottom: 0px;
    }
}